---
---

/* Header CSS */
#isu-logo {
  background-image: url("/img/isu-logo.png");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
  display: block;
}

.brand-navbar {
  background-color: rgb(161, 31, 18); /* rgb(204, 0, 0); */
  border-bottom: 6px solid #DFBD00;
}

.brand-navbar .nav-link > span {
  font-size: 1.25rem;
}

header {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.flex-separate {
  display: flex;
  justify-content: space-between;
}

/* Navigation CSS */
.site-navbar {
  background-color: rgb(161, 31, 18); /* rgb(204, 0, 0); */
  margin-top: 0;
  margin-bottom: 0.3rem;
  padding-top: 0;
  padding-bottom: 0;
}

.site-navbar nav {
  margin: 0;
  padding: 0;
}

.site-navbar .nav-item {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* Header and Navigation CSS */
.site-navbar a,
.brand-navbar a,
.brand-navbar button {
  color: #E3E3E3;
}

.site-navbar a:hover,
.brand-navbar a:hover {
  color: #FFFFFF;
}

/* Other CSS */
.no-padding {
  padding: 0 0 0 0;
}

.thin-card-block {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.hamburger-icon,
.hamburger-icon:link,
.hamburger-icon:active,
.hamburger-icon:hover {
  text-decoration: none;
  color: #000000;
  outline: none;
  font-size: 1.5em;
}

.hamburger-icon:before {
  content: "\2261";
  text-align: center;
  vertical-align: middle;
}

footer {
  border-top: 2px solid rgb(204, 0, 0);
  font-size: 65%;
  margin-bottom: 1rem;
}

footer img {
  margin-bottom: .3rem;
}

footer p {
  margin-bottom: 0;
  padding: 0 0 0 0;
}

footer div {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

html {
  min-width: 320px;
}
