---
---

body {
  font-family: Helvetica, Arial, sans-serif;
}

.news-card .card-title, .home-page-highlighted-paper-card .card-title {
  color: #c00;
}

.card {
  margin-bottom: 12px;
}

.card-block {
  padding: 20px 20px 20px 20px;
}

.card-link, .news-link {
  color: rgb(68, 68, 68);
  font-weight: bold;
}

@media screen and (min-width:576px){//This messes with extra small sizes
  .container {
    width: 1140px;//This is the maximum width a container can ever be
  }
}

.brand-bg-color {
  background-color: #c00;
  padding-top: 0.5rem;
}

.nav-bg-color {
  background-color: rgba(230,230,230,0.95);
}

.brand-navbar {
//   border-bottom: 6px solid #DFBD00;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#isu-logo {
  background-image: url("/img/isu-logo.svg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
  display: block;
}

.brand-navbar .nav-link > span {
  font-size: 1.15rem;
}

.brand-navbar .nav-link {
  padding: 0;
}

.brand-navbar .nav-link > .small {
  font-size: 1rem;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-nav .nav-link {
  margin: 0;
  color: #444;
  font-weight: lighter;
  text-align: left;
  width: 100%;
  padding-left: 1em;
}

/* Note: Update width when changing the nav links */
@media screen and (min-width: 544px) {
  .navbar .navbar-nav .nav-link {
    width: calc(100% / 6);
    text-align: center;
    padding-left: 0;
  }
  .navbar-nav {
    width: 100%;
  }
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: rgb(245, 184, 90);
}

.flex-separate {
  display: flex;
  justify-content: space-between;
}

/* Header and Navigation CSS */
.brand-navbar a,
.brand-navbar button {
  color: #FFF;
  font-weight: bold;
}

nav .navbar {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

// Add some extra space between the nav bar's nav items.
.navbar-nav .nav-item {
  margin-right: 2.0rem;
}

#home-page-carousel .carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

#home-page-carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-control {
  font-size: 50pt;
  color: black;
}

.carousel-inner > .carousel-item > a > img {
  width: 100%;
}

.no-padding {
  padding: 0 0 0 0;
}

.no-display {
  display: none;
}

#markdown-toc, #papers-toc {
  border: 1px solid black;
  padding: 0px;
  padding-bottom: .5rem;
  margin-top: 1.5rem;
  background: #F3F3F3;
  color: #444;
  display: table;
  list-style-position: inside;
  list-style-type: disc;
}

#markdown-toc li, #papers-toc li {
  padding: 0rem 1.5rem 0rem 1.5rem
}

#markdown-toc:first-of-type li, #papers-toc:first-of-type li {
  padding-top: .5rem;
}

#papers-toc {
  margin-top: 0rem;
}

#papers-toc li {
  list-style-type: none;
}

#papers-toc li::before {
  content: "\21D2";
}

#markdown-toc a, #papers-toc a {
  font-weight: lighter;
}

#projects-markdown-toc ol > li > ol > li {
  list-style-type: disc;
}

#projects-markdown-toc ol > li {
  list-style-type: none;
}

$button-active-color: #c00;

.paper-btns.btn-group {
  display: flex;
}

.paper-btn {
  color: #444;
  background-color: #e6e6e6;
  border-color: $button-active-color;
  transition: all .3s ease;
}

.paper-btn:active, .paper-btn:focus, .paper-btn.active, .paper-btn:active:focus, .paper-btn:active:hover {
  background-color: $button-active-color;
  border-color: $button-active-color;
  font-weight: bold;
  color: #fff;
  box-shadow: none;
}

.paper-btn.active:hover, .paper-btn.focus:hover, .paper-btn:active:hover, .paper-btn:focus:hover {
  background-color: #b30000;
  border-color: $button-active-color;
}

.paper-btn:hover {
  background-color: #ccc;
  border-color: $button-active-color;
}

.paper-btn.active.focus {
  background-color: $button-active-color;
  border-color: $button-active-color;
}

.card {
  transition: all .5s ease;
}

.card:hover {
  transform: scale(1.01);
}

.paper_card_header, .grant_card_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.paper_card_header > a > img {
  height: 1.4rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.paper_card_header .paper_card_header_name, .grant_card_header .grant_card_header_name {
  color: rgb(68, 68, 68);
  flex-grow: 1;
}

.paper_card_header .paper_card_header_name:hover, .grant_card_header .grant_card_header_name:hover {
  color: #c00;
}

.paper_card .padded-inner-card-block {
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.paper_card .card-block {
  padding: 0;
}

.space-above {
  margin-top: 2rem;
}

.space-below {
  margin-bottom: 2rem;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.icon > img {
  height: 1.6rem;
}

.icon > span {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
}

footer {
  margin-top: auto;
  padding-top: 5px;
  background-color: #f3f3f3;
  color: #444;
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  vertical-align: top;
}

footer .isu-logo {
  width: 170px;
}

footer .isu-logo-wrapper {
  text-align: center;
}

footer .project-logos {
  text-align: left;
  padding: 0 30px;
  margin: 0;
}

@media screen and (max-width:543px){
  footer .isu-logo-wrapper {
    text-align: left;
  }
}

@media screen and (min-width:992px){
  footer .isu-logo-wrapper {
    text-align: left;
  }
  footer .project-logos {
    text-align: center;
    padding: 0 15px;
  }
}

footer hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

footer a {
  color: inherit;
}

footer img {
  margin-bottom: .3rem;
}

footer p {
  margin-bottom: 0;
  padding: 0 0 0 0;
}

footer div {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

footer .logo {
  width: 42px;
}

.home-page-highlighted-paper-card {
  // TODO: @extend .card;
  color: black;
}

.news-card, .home-page-highlighted-paper-card {
  // TODO: @extend .card
  color: black;
}

.memberimg
{
  //width: 200px;
  height: 200px;
}

div#home-page-more-projects,
div#home-page-more-papers,
div#home-page-more-news {
  text-align: center;
  font-weight: light;
  font-size: small;
  margin-bottom: 1rem;
}

.bibliography {
  list-style-type: none;
}

.project-header {
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
}

.project-header h3 {
  margin-bottom: 0px;
}

.project-header ~ .research-header {
  padding-top: 16px;
  border-top: 5px solid #444;
}

.research-header + .project-header {
  margin-top: 0rem;
}
