---
---

{% include_relative includes/template/headTop.htm %}

<!-- INSERT TITLE -->
<title>Virtual Machines and Intermediate Languages for emerging modularization mechanisms (VMIL 2007)</title>

{% include_relative includes/template/headBottom.htm %}

<h2 class="bar">Motivation and Objectives</h2>
<p>
Modularization Mechanisms such as mix-ins, units, open classes, hyper-slices, adaptive methods, roles, composition filters, pointcut-advice, and intertype declarations have shown significant potential. They provide software engineers with new capabilities to modularize concerns that were hard to separate previously. Support for these modularization mechanisms have so far been largely limited to high-level languages and their compilers. Recent research results have shown that deeper support, e.g. in virtual machines and intermediate languages, have far-reaching impacts. In particular, more optimization opportunities open up. Development processes such as incremental compilation, debugging, etc are radically simplified. Moreover, dynamic support becomes possible without compromising on efficiency. To that end, the objective of this workshop, first in the series, is to generate interest in this topic, to frame and refine research problem formulations, and to
identify and encourage the pursuit of promising opportunities and approaches. We invite novel insights from within the programming language, compilers, virtual machine community and elsewhere.
</p>

<h2 class="bar">Important Dates</h2>

<center>
<table>
<tr>
<td>Submission Deadline:</td>
<td>Jan 15, 2007, 23:00 GMT <b>(Extended to Jan 26, 2007, 23:00 GMT)</b></td>
</tr>

<tr>
<td>Notification of Acceptance:</td>
<td>Feb 2, 2007</td>
</tr>

<tr>

<td>Final Versions of Papers Due:</td>
<td>March 1, 2007</td>
</tr>

<tr>
<td>Workshop:</td>
<td>March 13, 2007</td>
</tr>
</table>
</center>

<!-- Text for the actual webpage start -->

<!-- Text for the actual webpage end -->

{% include_relative includes/template/footer.htm %}
