---
---

{% include_relative includes/template/headTop.htm %}

<!-- INSERT TITLE -->
<title>Virtual Machines and Intermediate Languages for emerging modularization mechanisms (VMIL 2008)</title>

{% include_relative includes/template/headBottom.htm %}

<!-- Text for the actual webpage start -->

{% include_relative motivation.html %}
<BR>
<BR>
<h2 class="bar">Invited Talks</h2>

<p><a href="papers/p01-vitek.txt">Memory Management for Hard Real-time Systems</a><BR>
<b>Jan Vitek</b><BR>
<i>Purdue University</i></p>

<p><a href="papers/p06-gal.txt">Compiling the Web--Building a Just-in-Time Compiler for JavaScript</a><BR>
<b>Andreas Gal</b><BR>
<i>Mozilla Corporation</i></p>

<p><a href="papers/p07-bacon.txt">Liquid Metal: Blurring the Hardware/Software Boundary</a><BR>
<b>David F. Bacon</b><BR>
<i>IBM Watson Research Center</i></p>
<BR>

{% include_relative dates.html %}
<!-- Text for the actual webpage end -->

{% include_relative includes/template/footer.htm %}
