---
title: Laboratory for Software Design
layout: default
highlighted_papers:
  - ICSE-15a
  - TOSEM-15
  - ICSE-15b
  - OOPSLA16
  - ECOOP-15
  - OOPSLA-15
---

<main class="container">
  <br />
  <br />
  <div class="row">
    <div class="col col-md-10 push-md-1">
      <div class="container">
        <div class="col-12">
          {% include home_page/carousel.html %}
        </div>
        <br />

        <div class="col col-md-6">
          {% include home_page/highlighted_papers.html
                     highlighted_papers=page.highlighted_papers %}
        </div>

        <div class="col col-md-6">
          {% include home_page/recent_news.html %}
        </div>
      </div>
    </div>
  </div>
  <br />
</main>
