---
layout: page
title: Papers
permalink: /papers/
---

{% assign conference_papers = (site.papers | where: 'kind', 'conference'       | sort: 'publication_year') %}
{% assign journal_papers =    (site.papers | where: 'kind', 'journal'          | sort: 'publication_year') %}
{% assign workshop_papers =   (site.papers | where: 'kind', 'workshop'         | sort: 'publication_year') %}
{% assign theses =            (site.papers | where: 'kind', 'thesis'           | sort: 'publication_year') %}
{% assign technical_reports = (site.papers | where: 'kind', 'technical_report' | sort: 'publication_year') %}


<h3>Conference Papers</h3>
<ul id="conference-papers-list">
  {% for paper in conference_papers reversed %}
  <li>
    <a href="{{ paper.url }}" class="md-width">
      {{ paper.short_name }}
    </a>
    - {{ paper.title }}
  </li>
  {% endfor %}
</ul>


<h3>Journal Papers</h3>
<ul id="journal-papers-list">
  {% for paper in journal_papers reversed %}
  <li>
    <a href="{{ paper.url }}" class="md-width">
      {{ paper.short_name }}
    </a>
    - {{ paper.title }}
  </li>
  {% endfor %}
</ul>


<h3>Workshop Papers</h3>
<ul id="workshop-papers-list">
  {% for paper in workshop_papers reversed %}
  <li>
    <a href="{{ paper.url }}" class="md-width">
      {{ paper.short_name }}
    </a>
    - {{ paper.title }}
  </li>
  {% endfor %}
</ul>

<h3>PhD and MS Theses</h3>
<ul id="theses-list">
  {% for paper in theses reversed %}
  <li>
    <a href="{{ paper.url }}" class="lg-width">
      {{ paper.short_name }}
    </a>
    - {{ paper.title }}
  </li>
  {% endfor %}
</ul>

<h3>Technical Reports</h3>
<ul id="technical-reports-list">
  {% for paper in technical_reports reversed %}
  <li>
    <a href="{{ paper.url }}" class="sm-width">
      {{ paper.short_name }}
    </a>
    - {{ paper.title }}
  </li>
  {% endfor %}
</ul>
