---
title: Internal Site Warnings
permalink: /warnings/
layout: page
---

{% assign expected_properties =
  "key|permalink|short_name|bib|kind|publication_year|download_link|tags" | split: "|"
%}

{% assign extra_download_link_properties =
  "link|title" | split: "|"
%}

<ul>
  {% for paper in site.papers %}
    {% for property in expected_properties %}
      {% if paper[property] == nil or paper[property] == blank %}
        <li><a href="{{ paper.url }}">{{ paper.key | default: "Paper" }}</a> needs <code>{{ property }}</code></li>
      {% endif %}
    {% endfor %}

    {% if paper.title == "Index" %}
      <li><a href="{{ paper.url }}">{{ paper.key | default: "Paper" }}</a> needs <code>title</code></li>
    {% endif %}

    {% if paper.extra_download_links != nil %}
      {% for extra in paper.extra_download_links %}
        {% assign extra_id = forloop.index %}

        {% for property in extra_download_link_properties %}
          {% if extra[property] == nil %}
            <li><a href="{{ paper.url }}">{{ paper.key | default: "Paper" }}</a> extra download link <code>{{ extra_id }}</code> needs <code>{{ property }}</code></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

  {% endfor %}
</ul>
