---
title: Internal Site Warnings
permalink: /warnings/
layout: page
---

{% assign expected_properties = "key|permalink|short_name|abstract|bib|kind|publication_year|download_link" | split: "|" %}

<ul>
  {% for property in expected_properties %}
    {% for paper in site.papers %}
      {% if paper[property] == nil %}
        <li><a href="{{ paper.url }}">{{ paper.key | default: "Paper" }}</a> needs <code>{{ property }}</code></li>
      {% endif %}
    {% endfor %}
    {% for paper in site.papers %}
      {% if paper.title == "Index" %}
        <li><a href="{{ paper.url }}">{{ paper.key | default: "Paper" }}</a> needs <code>title</code></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

