<!-- <h2>Active Research Projects</h2> -->

<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-page-carousel" data-slide-to="1"></li>
    <li data-target="#home-page-carousel" data-slide-to="2"></li>
    <li data-target="#home-page-carousel" data-slide-to="3"></li>
    <li data-target="#home-page-carousel" data-slide-to="4"></li>
    <li data-target="#home-page-carousel" data-slide-to="5"></li>
    <li data-target="#home-page-carousel" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
     <a href="/news/2020/03/30/boac/">
        <img class="d-block img-fluid"
             src="/img/boac.png"
             alt="launch data science infrastructure to advance COVID-19 research">
      </a>
    </div> 
    <div class="carousel-item">
      <a href="https://www.cs.iastate.edu/announcements/dependable-data-driven-discovery-institute">
        <img class="d-block img-fluid"
             src="/img/d4-tripods.png"
             alt="Dr. Hridesh Rajan will lead $1.5 Million NSF TRIPODS Phase I Institute Grant">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/projects.html">
        <img class="d-block img-fluid"
             src="/img/lab-logo.png"
             alt="Laboratory for Software Design">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/projects.html#Panini">
        <img class="d-block img-fluid"
             src="/img/panini-ad.png"
             alt="Panini Project">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/projects.html#Boa">
      <img class="d-block img-fluid"
           src="/img/boa-ad.png"
           alt="Boa Project">
      </a>
    </div>
    <div class="carousel-item">
      <a href="http://mbds.cs.iastate.edu/">
      <img class="d-block img-fluid"
           src="/img/mbds-ad.png"
           alt="Midwest Big Data Summer School">
      </a>
    </div>
    <div class="carousel-item">
      <a href="http://design.cs.iastate.edu/people.html">
      <img class="d-block img-fluid"
           src="/img/upadhyaya-grad.png"
           alt="Graduation Dr. Ganesha Upadhyaya">
      </a>
    </div>
    <div class="carousel-item">
      <a href="http://design.cs.iastate.edu/people.html">
      <img class="d-block img-fluid"
           src="/img/fse-alum.png"
           alt="Alumni meet at ESEC/FSE 2018">
      </a>
    </div>
    <div class="carousel-item">
      <a href="http://design.cs.iastate.edu/people.html">
      <img class="d-block img-fluid"
           src="/img/lab2018.png"
           alt="End of the year lunch, December 2018">
      </a>
    </div>
  </div>
  <!--
    Carousel controls are temporarily commented-out because they seem to not be
    a part of the version of Bootstrap that we are using. See Issue #20.
  -->
  <a class="carousel-control-prev" href="#home-page-carousel" role="button" data-slide="prev">
    <span class="carousel-control" aria-hidden="true">&#8249;</span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#home-page-carousel" role="button" data-slide="next">
    <span class="carousel-control" aria-hidden="true">&#8250;</span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--- less is more.
<div id="home-page-more-projects">
  <a href="projects.html">More Projects</a>
</div> -->
