<footer>
  <div id="header-separator"></div>
  <div class="container">
    <div class="brand-navbar">
      <div class="row">
        <div class="flex-separate col col-md-10 push-md-1">
        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-512574-3', 'auto');
                ga('send', 'pageview');
        </script>
        <p>Copyright &copy; {{ site.time | date: '%Y' }} Iowa State University of Science and Technology. All rights reserved.<BR>
        The research and educational activities described on these pages
        has been supported in part by the <a href="http://www.nsf.gov">US National Science Foundation (NSF)</a>
        under grants
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1518897">CCF-15-18897</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1513263">CNS-15-13263</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1423370">CCF-14-23370</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1349153">CCF-13-49153</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1117937">CCF-11-17937</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1017334">CCF-10-17334</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0709217">CNS-07-09217</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0627354">CNS-06-27354</a>, and
        a CAREER award <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0846059">08-46059</a>.
        </p>
       </div>
      </div>
    </div>
  </div>

<!--
  <div class="container">
    <div class="col col-md-10 push-md-1">
      <div id="footer-contact-info" class="col-md-5 col-lg-4">
        <p>Laboratory for Software Design</p>
        <p>Dept. of Computer Science, Iowa State University</p>
        <p>115-2 Atanasoff Hall, Ames, IA, 50011-1040, USA</p>
        <p>Voice: (515) 294-6168 | E-Mail: hridesh@iastate.edu</p>
      </div>
    </div>
  </div>
-->
</footer>
