<footer>
  <div class="container">
    <div class="col col-md-10 push-md-1">
      <div id="footer-separator"></div>
      <div id="footer-copyright" class="col-md-7 col-lg-8">
        <img src="/img/ISUbecoming.gif" alt="Iowa State University: Becoming the Best" />
        <p>Copyright &copy; {{ site.time | date: '%Y' }} Iowa State University of Science and Technology. All rights reserved.
      </div>

      <div id="footer-contact-info" class="col-md-5 col-lg-4">
        <p>Laboratory for Software Design</p>
        <p>Dept. of Computer Science, Iowa State University</p>
        <p>115-2 Atanasoff Hall, Ames, IA, 50011-1040, USA</p>
        <p>Voice: (515) 294-6168 | E-Mail: hridesh@iastate.edu</p>
      </div>

      <div id="footer-support" class="col-md-12">
        <p>The research and educational activities described on these pages
        has been supported in part by the <a href="http://www.nsf.gov">US National Science Foundation (NSF)</a>
        under grants
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1518897">CCF-15-18897</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1513263">CNS-15-13263</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1423370">CCF-14-23370</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1349153">CCF-13-49153</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1117937">CCF-11-17937</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1017334">CCF-10-17334</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0709217">CNS-07-09217</a>,
        <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0627354">CNS-06-27354</a>, and
        a CAREER award <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0846059">08-46059</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
