<footer>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      },
      i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-512574-3', 'auto');
    ga('send', 'pageview');
  </script>
  <div class="container">
    <div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-xs-12 col-lg-3 isu-logo-wrapper">
              <a href="http://www.iastate.edu">
                <img src="/img/isu-stacked.svg" alt="Iowa State University" class="isu-logo">
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
              <p>
                <b>Laboratory for Software Design</b>
              </p>
              <p>115-2 Atanasoff Hall</p>
              <p>Ames, IA, 50011-1040, USA</p>
              <p>Phone: (515) 294-6168</p>
              <p>E-Mail: hridesh@iastate.edu</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <p>
                Copyright &copy;
                {{ site.time | date: '%Y' }}
                Iowa State University of Science and Technology. All rights reserved.<BR>
                <div class="d-none d-lg-block" style="margin-top: 0">
                  The research and educational activities described on these pages has been supported in part by the
                  <a href="http://www.nsf.gov">US National Science Foundation (NSF)</a>.
                </div>
              </p>
            </div>
            <div class="col-md-3 col-lg-1 d-none d-md-block project-logos">
              <div>
                <a href="http://web.cs.iastate.edu/~panini/">
                  <img src="/img/panini-logo.svg" class="logo" alt="Boa Logo">
                  Panini
                </div>
                <div>
                  <a href="http://boa.cs.iastate.edu">
                    <img src="/img/boa-logo.svg" class="logo" alt="Boa Logo">
                    Boa
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
