<header>

  <div class="brand-bg-color">
    <div class="container">
      <div class="brand-navbar">
        <div class="row">
          <div class="flex-separate col-12">
            <a href="/" class="nav-link">
              <span id="isu-logo">Iowa State University</span>
              <span class="d-none d-sm-block">Laboratory for Software Design</span>
              <span class="small d-block d-sm-none">Laboratory for Software Design</span>
            </a>
            <button class="navbar-toggler d-block d-sm-none" type="button" data-toggle="collapse" data-target="#collapseNav">&#9776;</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bg-color">
    <nav class="container navbar navbar-dark navbar-expand-sm">
      <div class="collapse navbar-collapse" id="collapseNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/projects.html">Projects</a>
          <a class="nav-item nav-link" href="/papers/">Papers</a>
          <a class="nav-item nav-link" href="/grants/">Grants</a>
          <a class="nav-item nav-link" href="/news/">News</a>
          <a class="nav-item nav-link" href="/people.html">People</a>
          <a class="nav-item nav-link" href="/about/">About</a>
        </div>
      </div>
    </nav>
  </div>

</header>
