{% assign key = include.paper.key %}
{% if include.paper.download_link contains "/" %}
  {% assign download_link_prefix = "" %}
{% else %}
  {% assign download_link_prefix = key | append: "/" %}
{% endif %}

<div class="card paper_card">
  <div class="card-header paper_card_header" id="head-{{ key }}">
    <div>
      <button class="navbar-toggler" type="button" href="#coll-{{ key }}"
              data-toggle="collapse" data-parent="#{{ include.accordionKey }}"
              aria-expanded="false" aria-controls="coll-{{ key }}">
        &#9776;
      </button>
    </div>
    <a class="paper_card_header_name" href="{{ include.paper.url }}">{{ include.paper.short_name }}: {{ include.paper.title }}</a>
    <a href="{{ download_link_prefix }}{{ include.paper.download_link }}">
      <img src="/img/pdf_icon.svg" alt="PDF Download"/>
    </a>
  </div>
  <div id="coll-{{ key }}" class="card-block collapse" aria-labelledby="head-{{ key }}">
    <div class="thin-card-block">
      {{ include.paper.abstract | truncatewords:50 }}
    </div>
  </div>
</div>
