{% assign key = include.paper.key %}
{% if include.paper.download_link contains "/" %}
  {% assign download_link_prefix = "" %}
{% else %}
  {% assign download_link_prefix = key | append: "/" %}
{% endif %}

<div class="card">
  <div class="card-header" role="tab" id="head-{{ key }}">
    <span class="col-md-11">
      <a class="collapsed hamburger-icon" href="#coll-{{ key }}" 
        data-toggle="collapse" data-parent="#{{ include.accordionKey }}"
        aria-expanded="false" aria-controls="coll-{{ key }}">
      </a>
      <a href="{{ include.paper.url }}">{{ include.paper.short_name }}: {{ include.paper.title }}</a>
    </span>
    <a class="col-md-1" href="{{ download_link_prefix }}{{ include.paper.download_link }}">[PDF]</a>
  </div>
  <div id="coll-{{ key }}" class="collapse" role="tabpanel" aria-labelledby="head-{{ key }}">
    <div class="thin-card-block">
      {{ include.paper.abstract | truncatewords:50 }}
    </div>
  </div>
</div>
