<header>

    <div class="brand-bg-color">
        <div class="container">
            <div class="brand-navbar">
                <div class="row">
                    <div class="flex-separate col col-md-10 push-md-1">
                        <a href="/" class="nav-link">
                            <span id="isu-logo">Iowa State University</span>
                            <span class="hidden-xs-down">Laboratory for Software Design</span>
                            <span class="small hidden-sm-up">Laboratory for Software Design</span>
                        </a>
                        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseNav">&#9776;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-bg-color">
        <nav class="container navbar navbar-dark">
            <div class="row">
                <div class="col col-md-10 push-md-1">
                    <div class="collapse navbar-toggleable-xs" id="collapseNav">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/sdsi/">SDSI Home</a>
                            <a class="nav-item nav-link" href="/sdsi/people/">People</a>
                            <a class="nav-item nav-link" href="/sdsi/events/">Events</a>
                            <a class="nav-item nav-link" href="/sdsi/news/">News</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</header>
