---
---

{% include_relative includes/template/headTop.htm %}

{% include_relative includes/template/headBottom.htm %}

<!-- Text for the actual webpage start -->

{% include_relative motivation.html %}
<BR>
<h2 class="bar">Invited Talks</h2>

<p><a href="papers/p01-sarkar.txt">Virtual Machine and Intermediate Language Challenges for Parallelism</a><BR>
<b><a href="http://www.cs.rice.edu/~vsarkar">Vivek Sarkar</a></b><BR>
<i>Rice University</i></p>

<p><a href="papers/p02-blackburn.txt">Abstraction Without Guilt</a><BR>
<b><a href="http://cs.anu.edu.au/~Steve.Blackburn/">Steve Blackburn</a></b><BR>
<i>Australian National University</i></p>

<p><a href="papers/p03-simon-titzer.txt">The Maxine Virtual Machine</a><BR>
<b><a href="http://research.sun.com/people/mybio.php?c=610">Doug Simon</a> and
   <a href="http://research.sun.com/people/mybio.php?c=1124">Ben L. Titzer</a></b><BR>
<i>Sun Microsystems</i></p>
<BR>

{% include_relative dates.html %}
<BR>
<h2 class="bar">Organizers</h2>

<center>
<table cellspacing="18px">
<tr>
<td><center><a href="http://www.cs.iastate.edu/~hridesh/"><img border="0" height="100px" width="80px" src="images/rajan.jpg" alt="Hridesh Rajan Photo"/><br/>Hridesh Rajan</a></center></td>
<td><center><a href="http://trese.cs.utwente.nl/staff/staff.php?action=showDetails&amp;u_id=49"><img border="0" height="100px" width="80px" src="images/bockisch.jpg" alt="Christoph Bockisch Photo"/><br/>Christoph Bockisch</a></center></td>
<td><center><a href="http://www.hpi.uni-potsdam.de/swa/people/haupt"><img border="0" height="100px" width="80px" src="images/haupt_bw.png" alt="Michael Haupt Photo"/><br/>Michael Haupt</a></center></td>
<td><center><a href="http://www.cs.iastate.edu/~rdyer/"><img border="0" height="100px" width="80px" src="images/rdyer.jpg" alt="Robert Dyer Photo"/><br/>Robert Dyer</a></center></td>
</tr>
</table>
</center>

<!-- Text for the actual webpage end -->

{% include_relative includes/template/footer.htm %}
