---
layout: page
---
{% if page.title %}<script type="application/ld+json">{"@context":"https://schema.org","@type":"ScholarlyArticle","name":{{ page.title | jsonify }},"headline":{{ page.title | jsonify }},{% if page.publication_year %}"datePublished":"{{ page.publication_year }}",{% endif %}"author":{"@type":"Person","name":"Hridesh Rajan"},{% if page.short_name %}"isPartOf":{"@type":"Periodical","name":{{ page.short_name | jsonify }}},{% endif %}"url":"https://lab-design.github.io{{ page.url }}"}</script>{% endif %}

{% capture author %}
{% bibtex --style /_citation_styles/author.csl %}
{{page.bib}}
{% endbibtex %}
{% endcapture %}

<h4>
By: {{ author | strip_html }}
</h4>

{% if page.download_link %}
<a href="{{ page.download_link }}" class="icon">
  <img src="/img/pdf_icon.svg"/ alt="PDF Download">
  <span>Download Paper</span>
</a>
{% endif %}
<br/>

{% if page.extra_download_links %}
{% for download_link in page.extra_download_links %}
<a href="{{ download_link.link }}">{{ download_link.title }}</a>
<br />
{% endfor %}
<br />
{% endif %}

{% if page.bib contains "abstract =" %}
<h4>Abstract</h4>
<p>
  {% bibtex --style /_citation_styles/abstract.csl %}
  {{page.bib}}
  {% endbibtex %}
</p>
{% endif %}

{% assign maybe_content = content | strip_newlines %}
{% if maybe_content != "" %}
<h4>Other Info</h4>
{{ content }}
{% endif %}

{% if page.bib %}
<h4>ACM Reference</h4>
<p>
{% bibtex --style acm-sig-proceedings %}
{{page.bib }}
{% endbibtex %}
</p>

<h4>BibTeX Reference</h4>
<pre><code>{{ page.bib }}</code></pre>
{% endif %}
