---
layout: page
---

{% capture author %}
{% bibtex --style /csl/paper_pages.csl %}
{{page.bib}}
{% endbibtex %}
{% endcapture %}


<h4>
By: {{ author | strip_html }}
</h4>

{% if page.download_link %}
<a href="{{ page.download_link }}" class="icon">
  <img src="/img/pdf_icon.svg"/ alt="PDF Download">
  <span>Download Paper</span>
</a>
{% endif %}

{% if page.extra_download_links %}
{% for download_link in page.extra_download_links %}
<a href="{{ download_link.link }}">{{ download_link.title }}</a>
<br />
{% endfor %}
<br />
{% endif %}

<h3>Abstract</h3>
<p>
  {% bibtex --style /csl/abstract.csl %}
  {{page.bib}}
  {% endbibtex %}
</p>

{% if page.bib %}
<h3>Bib Info</h3>
<h5>BibTeX</h5>
<pre><code>
{{ page.bib | escape }}
</code></pre>
<h5>ACM</h5>
{% bibtex --style acm-sig-proceedings %}
{{page.bib}}
{% endbibtex %}
{% endif %}



{% assign maybe_content = content | strip_newlines %}
{% if maybe_content != "" %}
<h3>Other Info</h3>
{{ content }}
{% endif %}
